[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.21.0"
flask = "==2.2.2"
line-bot-sdk = "==2.3.0"
transitions = "==0.9.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
